<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>net.ramine.partyparty.port80</string>
  <key>BundleProgram</key>
  <string>Contents/Helpers/pp-port80</string>
  <key>AssociatedBundleIdentifiers</key>
  <array>
    <string>net.ramine.partyparty</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
</dict>
</plist>
